<div class="container">
  <div class="page-title text-center mb-2">QUIZ MAKER</div>
  <div [formGroup]="categoryForm" class="category-form text-center mb-2">
    <select formControlName="category" id="categorySelect">
      <option [value]="category.id" *ngFor="let category of categories">
        {{ category.name }}
      </option>
    </select>

    <select formControlName="difficulty" id="difficultySelect">
      <option
        [value]="difficulty.value"
        *ngFor="let difficulty of difficulties"
      >
        {{ difficulty.name }}
      </option>
    </select>

    <button
      id="createBtn"
      [disabled]="categoryForm.invalid"
      (click)="createQuiz()"
    >
      Create
    </button>
  </div>

  <ng-container *ngIf="questions?.length">
    <app-quiz
      [questions]="questions"
      [formArray]="questionFormArray"
    ></app-quiz>

    <div class="text-center">
      <button
        (click)="submit()"
        class="end-btn"
        [disabled]="questionFormArray.invalid"
      >
        Submit
      </button>
    </div>
  </ng-container>
</div>
