.selected,
.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}

.option {
  margin: 10px 10px 10px 0px;
  padding: 5px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid grey;
}

.hover:hover {
  transition: background 300ms ease-in-out;
  background-color: #249924;
  color: white;
}
