.selected,
.correct {
  background-color: green;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}

.option {
  margin: 10px 10px 10px 0px;
  padding: 5px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
